body {
    margin-left: 10%;
    margin-right: 10%;
}

.navbar-toggler-icon {
    align-content: center;


}

#email {
    width: 60px;
    height: 60px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: black;
    text-align: center;
    height: 30px;
}

#dropdown {
    float: right;
}


#filters {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

/*
#selectstate {
    position: relative;
    bottom: 0px;
    float: right;
    color: ;
    display: flex;
    justify-content: space-between;
}
*/
.checkbox {
    width: 80%;
    display: flex;
}

.logo {
    display: flex;
    justify-content: space-between;
}

#Republican {

    margin-left: 7px;
    margin-top: 7px;
}

#Democrat {
    margin-left: 7px;
    margin-top: 7px;
}

#Independant {
    margin-left: 7px;
    margin-top: 7px;
}

.table td,
.table th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 80%;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}




.accordion-toggle {
    cursor: pointer;
}

.accordion-content {
    /* max-height: 0;
    overflow: hidden; */
    display: none;
}

.accordion-content.default {
    display: none;
}

#more {
    display: none;
}

#myBtn {
    background: white;

}

.loading {
    display: block;
}

.loader {
    display: none;
    position: fixed;
    padding-left: 40%;
    padding-top: 20%;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: white;
}


.loader:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #cef;
    border-color: #cef transparent #cef transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body.loading {
    overflow: hidden;
}

body.loading .loader {
    display: block;
}

.alert {
    margin-left: 40%;

}

.loading {
    margin-left: 45%;
    margin-top: 30%;
}